{% extends 'layout.html' %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <link href="{% static 'css/orgchart.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}OrgDB - Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <a href="{% url 'password_reset' %}">Forgot your password?</a>
{% endblock %}
