{% extends 'layout.html' %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Reset Complete!{% endblock %}

{% block content %}
  <p>
    Your new password has been set! Go ahead and give it a try on the <a href="{% url 'login' %}">login page.</a>
  </p>
{% endblock %}
