{% extends 'layout.html' %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save changes</button>
  </form>
{% endblock %}
