{% extends 'layout.html' %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Reset Email{% endblock %}

{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}
