{% load static from staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static 'landingpage/css/bootstrap.min.css' %}'
    <!-- Themify Icons -->
    <link rel="stylesheet" href='{% static 'landingpage/css/themify-icons.css' %}'
    <!-- Owl carousel -->
    <link rel="stylesheet" href='{% static 'landingpage/css/owl.carousel.min.css' %}'
    <!-- Main css -->
    <link href='{% static 'landingpage/css/style.css' %}' rel="stylesheet">

    <title>OrgDB</title>
    <link rel='shortcut icon' type='image/x-icon' href='{% static 'images/favicon-32px.png' %}' />
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="{% url 'homepage' %}"><img src='{% static 'images/logo-white.svg' %}' id="logo-image"><span id="logo-name">OrgDB</span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> 
                                    <a class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#features">FEATURES</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#gallery">PRODUCT</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#pricing">PRICING</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#contact">CONTACT</a>
                                </li>
                                <li class="nav-item nav-spacer"> 
                                    <a href="" ></a>
                                </li>
                                <li id="login-signup-container" class="nav-item">
                                    <a href="{% url 'login' %}" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Login</a>
                                    <a href="{% url 'signup' %}" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Signup</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h2 id="slogan">The Database that's Transforming <i><b>PeopleOps</b></i> <br/> <span style="font-size: 75%;">at Organizations Everywhere.</span></h2>
            <p class="tagline">
                <i><b>Defying Dunbar's Number;</b></i> The maximum number of relationships that any employee can cognitively maintain is 147. How large is your company now?
            </p>
        </div>
        <div class="img-holder mt-3"><img src='{% static 'landingpage/images/orgchart-drag.png' %}' alt="orgchart" class="img-fluid" style="filter:brightness(102%);filter:contrast(110%);filter:opacity(62%);"></div>
    </header>

    <div class="client-logos my-5">
        <div class="container text-center">
            <img src='{% static 'landingpage/images/client-logos.png' %}' alt="client logos" class="img-fluid">
        </div>
    </div>

    <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
                <small>WHY DO ORGANIZATIONS</small>
                <h3>Fail to scale?</h3>
            </div>


            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-user gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Strangers</h4>
                                    <p class="card-text">Employees, especially new ones, fundamentally don't know who they work with or what their colleagues do.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-direction-alt gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Alignment</h4>
                                    <p class="card-text">If you don't know the goals and responsibilities of other teams, how can you work together to find win-wins?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-panel gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Transparency</h4>
                                    <p class="card-text">Has that re-org had any impact? Are you paying for unused software? Who are your top communicators?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <h2>Discover our App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="perspective-phone">
                <img src='{% static 'landingpage/images/perspective.png' %}' alt="perspective phone" class="img-fluid">
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>FEATURES</small>
                <h3>Do more with our app</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Communication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Scheduling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Live Chat</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src='{% static 'landingpage/images/graphic.png' %}' alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>

                            <h2>Communicate with ease</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Scheduling when you want</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src='{% static 'landingpage/images/graphic.png' %}' alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src='{% static 'landingpage/images/graphic.png' %}' alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>
                            <h2>Realtime Messaging service</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Live chat when you needed</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src='{% static 'landingpage/images/graphic.png' %}' alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            </div>


        </div>
    </div>
    -->

    <!--
    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src='{% static 'landingpage/images/dualphone.png' %}' alt="dual phone" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-rocket gradient-fill ti-3x"></span></div>
                        <h2>Launch your App</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime ratione </p>
                        <a href="#" class="btn btn-primary">Read more</a></div>
                </div>
            </div>

        </div>

    </div>
    -->


    <div class="section">
        <div class="section-title">
            <small>JUST 3 STEPS</small>
            <h3><i>Implement PeopleOps<sup>&trade;</sup> Best Practices</i></h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Add your team</h5>
                                <p style="font-size: 0.9rem;">It's easy to add members of your organization to your OrgDB database. You can either: <strong>(a)</strong> simply use the app to add people one at a time, <strong>(b)</strong> import people all at once in a spreadsheet, or <strong>(c)</strong> enterprise customers can integrate their Single Sign-On & Active Directory solutions.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Connect the dots</h5>
                                <p style="font-size: 0.9rem;">Weave together the structure of your organization by telling the database who reports to who. The connections between your employees are the fabric of your OrgDB database that dictate how strategy and communication flow throughout the organization.</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Watch the culture change</h5>
                                <p style="font-size: 0.9rem;">Right before your eyes, people, including yourself, are refering to each other by name and sharing ideas based on commonly understood strategic initiatives. Your previously siloed organization is now a unified, cohesive tribe that's rowing in one direction.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src='{% static 'landingpage/images/3-steps.svg' %}' style="width:95px;margin-top:45px; margin-left: 30px;" alt="iphone" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <small>PRODUCT GALLERY</small>
                <h3>Screenshots of the app</h3>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src='{% static 'landingpage/images/screen1.jpg' %}' alt="image">
                <img src='{% static 'landingpage/images/screen2.jpg' %}' alt="image">
                <img src='{% static 'landingpage/images/screen3.jpg' %}' alt="image">
                <img src='{% static 'landingpage/images/screen3.jpg' %}' alt="image">
            </div>
        </div>
    </div>


    <div class="section light-bg" id="pricing">
        <div class="container">
            <div class="section-title">
                <small>SIMPLE PRICING</small>
                <h3>Invest in your people</h3>
            </div>

            <div class="card-deck">
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">TEAMS</small>
                        <span class="price">Free</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">Free-for-Life</div>
                        <div class="list-group-item">147 Employees*</div>
                        <div class="list-group-item">5 Projects</div>
                        <div class="list-group-item">Self-Service</div>
                        <div class="list-group-item">Import via App</div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item" style="padding-bottom: 40px;">
                            <span style="font-size: 0.75em; color: lightgray;"><i>*147 is Dunbar's Number; The point at which people struggle to maintain meaningful relationships with each other. "Things fall apart; The centre cannot hold."</i></span>
                        </div>
                    </ul>
                </div>
                <div class="card pricing popular">
                    <div class="card-head">
                        <small class="text-primary"><i>P<span style="font-size:0.7em">EOPLE</span>O<span style="font-size:0.7em">PS</span> PRO</i></small>
                        <span class="price">$3<sub>/seat/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">90 Day Free Trial</div>
                        <div class="list-group-item">500 Employees</div>
                        <div class="list-group-item">Unlimited Projects</div>
                        <div class="list-group-item">Import via Spreadsheet Pipeline</div>
                        <div class="list-group-item">Priority Support</div>
                        <div class="list-group-item">Slack & Gmail Integrations</div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary"><i>P<span style="font-size:0.7em">EOPLE</span>O<span style="font-size:0.7em">PS</span> ENTERPRISE</i></small>
                        <span class="price">$5<sub>/seat/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">90 Day Free Trial</div>
                        <div class="list-group-item">Unlimited Employees</div>
                        <div class="list-group-item">Unlimited Projects</div>
                        <div class="list-group-item">Single Sign-On & Active Directory Integration</div>
                        <div class="list-group-item">Premium Support</div>
                        <div class="list-group-item">Reports & Analytics</div>
                        <div class="list-group-item">Cross-Company Partnership & Acquisition Orgcharts</div>
                        <div class="list-group-item">Office365, Slack, & Gmail Integrations</div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="section-title">
                <small>TESTIMONIALS</small>
                <h3>What our customers are saying</h3>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src='{% static 'landingpage/images/client.png' %}' alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src='{% static 'landingpage/images/client.png' %}' alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src='{% static 'landingpage/images/client.png' %}' alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>
        </div>
    </div>
    

    <!--
    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Frequently Asked Questions</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Can I try before I buy?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                    <h4 class="mb-3">What payment methods do you accept?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Can I change my plan later?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                    <h4 class="mb-3">Do you have a contract?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

                </div>
            </div>
        </div>

    </div>
    -->



    <div class="section bg-gradient">
        <div class="container">
            <div class="call-to-action">

                <h2>Take Back Control</h2>
                <p class="tagline"><span style="color:white;"><i class="fa fa-quote-left"></i></span><i> What was that new person’s name again? Who is in charge of that project? We've hired a great team, but it seems like productivity has stayed the same. What does that team do? Does the new manager know his people? Who do they roll up to?  Does he go by Michael or Mike? Are we working on the same thing? I feel like the other office is a totally separate company. We've doubled in size and it's just doesn't feel the same anymore.</i> <span style="color:white;"><i class="fa fa-quote-right"></i></span><i></p>
                <div class="my-4">
                    <a href="{% url 'signup' %}" class="btn btn-light">Signup</a>
                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span>Boston, MA, USA</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@mobileapp.com">support@orgdb.io</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">978-833-4190</a>
                        </p>
                    </div>

                </div>
                <!--
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
                -->
            </div>

        </div>

    </div>

    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY <a href="https://colorlib.com">COLORLIB</a></small></p>

        <small>
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src='{% static 'landingpage/js/jquery-3.2.1.min.js' %}'></script>
    <script src='{% static 'landingpage/js/bootstrap.bundle.min.js' %}'></script>
    <!-- Plugins JS -->
    <script src='{% static 'landingpage/js/owl.carousel.min.js' %}'></script>
    <!-- Custom JS -->
    <script src='{% static 'landingpage/js/script.js' %}'></script>
</body>

</html>
