{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- === CSS === -->
  <!-- Bootstrap 4.1.3 -->
  <link 
    rel="stylesheet"
    crossorigin="anonymous"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- FontAwesome -->
  <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- MDbootstrap 4.5.9 -->
  <link 
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css">
  <!-- MDbootstrap 4.5.9 datatables addon -->
  <link 
    rel="stylesheet"
    href="{% static 'vendor/MDB4.5.9/datatables.min.css' %}">

  <!-- block style gets extended by block.super in the page specific templates -->
  {% block styles %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
  {% endblock %}

  <title>OrgDB - Orgchart</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon-32px.png' %}" />
</head>


<body>
  <div class="header">
    <div class="logo">
      <img src="{% static 'images/logo-white.svg' %}">
      <div>OrgDB</div>
    </div>
    <a href="#" class="nav-trigger"><span></span></a>
  </div>


  <div class="side-nav">
    <div class="logo">
      <img src="{% static 'images/logo-white.svg' %}">
      <div>OrgDB</div>
    </div>

    <nav>
      <ul>
        <li class="spacer">
          <!-- spacer -->
        </li>
        <li class="active">
          <a href="{% url 'orgchart' %}">
            <span><i class="fa fa-sitemap"></i></span>
            <span>Orgchart</span>
          </a>
        </li>
        <li>
          <a href="{% url 'office_list' %}">
            <span><i class="fa fa-building"></i></span>
            <span>Offices</span>
          </a>
        </li>
        <li>
          <a href="{% url 'department_list' %}">
            <span><i class="fas fa-layer-group"></i></span>
            <span>Departments</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-chalkboard-teacher"></i></span>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="{% url 'employee_list' %}">
            <span><i class="fa fa-users"></i></span>
            <span>Employees</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-address-card"></i></span>
            <span>My Profile</span>
          </a>
        </li>
        <li class="spacer">
          <!-- spacer -->
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-chart-pie"></i></span>
            <span>Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-clone"></i></span>
            <span>App Store</span>
          </a>
        </li>
        <li class="spacer">
          <!-- spacer -->
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-cog"></i></span>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <span><i class="fa fa-door-open"></i></span>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>


  <div class="main-content">
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
  </div>


  {% block footer_scripts %}
    <!-- jQuery 3.3.1 -->
    <script 
      crossorigin="anonymous"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--  jQuery UI 1.12.1 (tooltips)-->
    <script
      crossorigin="anonymous"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- Bootstrap tooltips -->
    <script 
      crossorigin="anonymous"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script 
      crossorigin="anonymous"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDBbootstrap 4.5.9 -->
    <script 
      crossorigin="anonymous"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>
    <!-- MDBbootstrap 4.5.9 datatables addon-->
    <script src="{% static 'vendor/MDB4.5.9/datatables.min.js' %}"></script>

    <!-- sidebar = left nav -->
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>
  {% endblock %}
  
</body>

</html>
