body {
  background-color: #f9f9f9;
}

#page-header {
  display     : inline-block;
  margin-top  : 20px;
  margin-left : 35px;
  color       : #395055;
  font-variant: small-caps;
}

#page-header #header-icon {
  margin-right: 15px;
}

.add-button {
  display         : inline-block;
  float           : right;
  
  margin          : 20px 35px 0px 0px;
  padding         : 8px 13px 8px 12px;
  border-radius   : 30px;
  
  background-color: lightgreen;
  font-size       : 12px;
}

.add-button:hover {
  background-color: #83d883;
  color: darkgreen;
}

.add-button-link {
  color: darkgreen;
}


/* ========= EMPLOYEE LIST ========= */
/* showing description when hover on tile https://codepen.io/trymedo/pen/vXrJAE */

#employee-list {
  margin-bottom: 60px;
}

.employee-row {
  margin: 30px 30px 30px 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  
  border: 0px solid black;
  border-radius: 15px;

  background-color: white;
}

.employee-row-content {
  margin: auto;
  margin-left: 52px;
  width: 95%;
}

.tile {
  position: relative;
  /*overflow: hidden; keeping this out so image can ovelap tile edge */ 

  height: 60px;

  border: 1px solid #F8F8F8;
  border-bottom: 3px solid #F8F8F8;
  border-right: 3px solid #F8F8F8;
  border-radius: 5px;

  padding: 5px;
  margin: 15px 25px 15px 15px;
}

.tile-name {
  position: absolute;
  display: block;

  padding: 10px;
  width: 100%;
  bottom: 0;
  margin-left: 20px;

  font-size: 13px;
}

.tile-name a {
  color: #404040;
}

.tile:hover a {
  color: #00cdcd;
}

.tile-info {
  display: block;
  overflow: hidden;
  transition: all .5s;

  height: auto;
  line-height: 1.2em;
  max-height: 0em;

  color: grey;
  font-size: 11px;
}

.tile:hover .tile-info {
  max-height: 10em; /* without a height it won't appear */
  text-overflow: ellipsis; 
}

.tile:hover {
  border: 1px solid #B0E0E6;
  border-bottom: 3px solid #B0E0E6;
  border-right: 3px solid #B0E0E6;
}


.tile img {
  position: relative;
  overflow: hidden;

  width: 37px;
  height: 37px;
  margin-left: -23px;
  margin-top: 4px;
  border-radius: 50%;
}


/* ========= DIVIDERS ========= */
/* using flexbox for an inline hr https://stackoverflow.com/questions/4861057/line-right-after-text */

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 30px;
  margin-left: 25px;
}

.divider-letter {
  flex-grow: 0;
  margin-right: 20px;
  font-family: Avenir;
  color: #c2c8c7;
}

.divider-letter h2 {
  color: #5a8086;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #F0F0F0;
}

.top-link {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-align: center;

  border-radius: 50%;
  background-color: #F0F0F0;
  color: white;
}

.top-link:hover{
  background-color: #00cdcd;
  color: white;
  text-decoration: none;
}


/* ========= LETTER LINKS ========= */

#letter-links {
  display: inline-block;
  z-index: 100;
  height: auto;

  margin: 25px 30px 0px 30px;
  padding: 5px 10px 5px 15px;

  color: lightgrey;
  border: 1px solid #00cdcd;
  border-radius: 5px;

  background-color: white;
}

#letter-links a {
  color: lightgrey;
}

#letter-links a:hover {
  color: #00cdcd;
  font-weight: bolder;
} 



/* ========= STATS ROW ========= */

.stats-row {
  margin: auto;
  width: 95%;

  padding-top: 20px;
  padding-bottom: 20px;
}

.stats-tile {
  margin: auto;
  margin-top: 10px;
  height: 100px;
}

.stats-tile .card {
  border: 0px 1px 1px 1px;
}

.stats-tile .card-title {
  margin-bottom: 0.63rem;
  color: #585858;
}

.stats-tile .card-text {
  font-size: 13px !important;
}

.stats-tile .card-text a {
  color    : #00a8a8;
}

.stats-tile .card-body {
  min-width: 150px;
  color: #A9A9A9;
}


/* ========= DEPARTMENT LIST ========= */

#department-list {
  margin: 35px 60px 60px 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  border: 0px solid black;
  border-radius: 15px;
  background-color: white;
}

/* attempt to override bootstrap */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F3F7F9 !important;
}

th {
  font-variant: small-caps;
  font-weight : 100;
  color       : #585858;
  font-size   : 19px !important;
  text-align  : center;
  border-top  : 0px !important;
}

td {
  text-align    : center;
  vertical-align: middle !important;
  font-size     : 14px;
  color    : #596066;
}

td a {
  color: #00a8a8;
}

#department-list-tbl_filter {
  margin-right: 20px;
}

#department-list-tbl_filter label {
  color: silver;
}
