* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body {
  font-family: avenir;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ========= FULL WIDTH STYLES ========= */

.header {
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 44px;
  background: linear-gradient(to right, #009696 , #c8f5ea 90%);
}
/* .logo.header = mobile version, whereas .side-nav = tablet & desktop */
.logo {
  height: 44px;
  padding: 10px;
  padding-left: 13px;
  font-weight: 500;
}
.header .logo {
  color: #233245;
}

.side-nav .logo {
  background-color: transparent;
  color: #fff;
  width: 75%;
  margin: 0 auto;
  color: white;
}
.header .logo {
  float: left;
  height: 44px;
  z-index: 2;
  padding: 10px;
  font-weight: 800;
  color: white;
}
.header .logo img {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
}
.logo div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  font-weight: 500;
}
.nav-trigger {
  position: relative;
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block; 
}
.nav-trigger span, .nav-trigger span:before, span:after {
  width: 20px;
  height: 2px;
  background-color: #003d3d;
  position: absolute;
}
.nav-trigger span {
  top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
  content: '';
}
.nav-trigger span:before {
  top: -6px;
}
.nav-trigger span:after {
  top: 6px;
}

/* side navigation styles */
.side-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  background: linear-gradient(to bottom, #003d3d, #195e5e 40%);
  display: none;
  box-shadow: 0 0px 12px -1px black;
  z-index: 2;
}
.side-nav.visible {
  display: block;
}
.side-nav ul {
  margin: 0;
  padding: 0;
  opacity: 0.95;
}
.side-nav ul li {
  padding: 16px 16px;
  position: relative;
}
.side-nav ul li:not(.spacer):hover {
  background: rgba(255, 255, 255, 0.2);
}
.side-nav ul li.active:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #009696;
}
.side-nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.side-nav ul li a:target {
  color: #00cdcd;
}
.side-nav ul li i {
  color: white;
  min-width: 20px;
  text-align: center;
}
.side-nav ul li span:nth-child(2) {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.side-nav ul li a span i {
  opacity: 0.9;
}

/* ========= MAIN CONTENT OF PAGE ========= */
.main-content {
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 44px 0px 0px 0px;
  background-color: #F3F7F9;
  overflow: auto; /* need this */
}
.main-content .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: #333;
  font-size: 18px;
}

/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
  .header {
    background-color: #35475e;
    z-index: 2;
  }
  .header .logo {
    display: none;
  }
  .nav-trigger {
    display: none;
  }
  .nav-trigger span, .nav-trigger span:before, span:after {
    background-color: #fff;
  }
  .side-nav {
    display: block;
    width: 70px;
    z-index: 3;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
  .side-nav .logo img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
  }
  .side-nav .logo div {
    display: none;
  }
  .side-nav ul li i {
    font-size: 26px;
  }
  .side-nav ul li a {
    text-align: center;
  }
  .main-content {
    margin-left: 70px;
  }
}

/* set element styles for desktop */
@media screen and (min-width: 800px) {
  .side-nav {
    width: 150px;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline-block;
  }
  .side-nav ul li i {
    font-size: 16px;
  }
  .side-nav ul li a {
    text-align: left;
  }
  .side-nav .logo i {
    padding-left: 0;
  }
  .side-nav .logo div {
    display: inline-block;
  }
  .main-content {
    margin-left: 150px;
  }
}

/* main box container */
.main {
  display: flex;
  flex-flow: row wrap;
}
.widget {
  flex-basis: 300px;
  flex-grow: 10;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
.widget .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}
.ad {
  width: 350px;
  height: 300px;
  border: 1px solid #ddd;
}
