html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-header {
  position: fixed; /* this keeps flexbox height in check */
  width: 100%;
  display     : inline-block;
  margin-top  : 20px;
  margin-left : 35px;
  color       : white;
  font-variant: small-caps;
  opacity: 0.3;
}

#page-header i {
  margin-right: 15px;
}

.graph-button {
  display:block;
  position: absolute;
  z-index: 1;
  float: left;
  color: #242526;
  font-size: 12px;
  margin-left: 15px;
  bottom: 0;
}

.graph-button i {
  background-color: white;
  opacity: 0.25;
  border-radius: 50%;
  padding: 5px;
  color: #242526;
}

.hover-help {
  cursor: help;
}

#arrows-button.graph-button {
  margin-bottom: 105px;
}

#zoom-button.graph-button {
  margin-bottom: 75px;
}

#reframe-button.graph-button {
  margin-bottom: 45px;
}

#reset-button.graph-button {
  margin-bottom: 15px;
}

.tooltip {
  width: 140px !important;
  opacity: 0.8 !important;
  padding: 5px !important;
  font-size: 11px !important;
  line-height: 130% !important;
  padding-bottom: 3px !important;
}


/* ========= BODY FLEXBOX ========= */

#orgchart-body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #05171fbb;
  background: url("/static/images/orgchart-background.png") no-repeat; 
  background-size: 100% 100%;
}

#orgchart-body .container {
  position: relative;
  width: 100%;
  min-width: 100%; /* required due to layout.css */
  height: 100%;
  padding: 0;
  margin: 0;
}

#graph {
  width : 100%;
  height: 100%;
}

#graph .visnetwork {
  width: 100%;
  height: 100%;
}

#graph .visnetwork canvas {
  height: 100%;
  width: 100%;
}

/* ========= RIGHT PANEL ========= */

#sidebar-main {
  display   : none;
  height    : 100%;
  width     : 600px;
  overflow-y: scroll-y;
  background: rgba(255,255,255, 0.95);
  padding   : 15px;
}

.close-right-panel {
  position       : fixed;
  text-decoration: none !important;
  z-index: 2;
}

#sidebar-main .container {
  height: 50px;
}


/* ========= RIGHT PANEL CONTENT ========= */

#panel-header {
  width: inherit;
}

#panel-header #header-pic {
  height: inherit;
  width: 30%;
}

#panel-header #header-pic img {
  float: right;
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

#panel-header #header-name {
  margin-left: 5%;
  padding-top: 7px;
}

#panel-header #header-name #name {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #191919;
}

#panel-header #header-name #sub_name {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

#details-tbl {
}

#details-tbl td {
  vertical-align: middle;
}

#details-tbl .detail-key {
  font-weight: 500;
  padding-right: 10px;
  margin-bottom: 5px;
}

#details-tbl .detail-value {
  background: white;
  opacity: 0.65;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  line-height: 80%;
}

.section-head{
  font-size: 14px;
  font-weight: 500;
}

.description {
  background: white;
  opacity: 0.8;
  font-size: 12px;
  border-radius: 8px;
  margin: 5px 0px 5px 0px;
  padding: 8px 8px 8px 10px;
}

ul {
  margin: 0px 0px 0px 15px;
  padding: 0px;
}

.chart-skills {
  display: block;
  width: 100%;
}

.chart-skills #chartRadar {
  width: 100%;
}
