<div id="sidebar-main">
    <a class="close-right-panel" href="#">
        <i class="fa fa-angle-right fa-2x"></i>
    </a>

    <div id="panel-header" class="container" style="display: flex;">
        <div id="header-pic">
            <img id="pic" data-resp="pic" />
        </div>
        <div id="header-name">
            <a id="name" data-resp="name"></a>
            <span id="sub_name" data-resp="sub_name"></span>
        </div>
    </div>

    <br/>
    <br/>

    <table id="details-tbl">
        {% comment %}
            the crazy map function in orgchart.js populates this with rows 
            based on response.details{k:v}
        {% endcomment %}
    </table>

    <br/>

    <div class="section-head" id="section-head-main"></div>
    <p class="description" data-resp="description"></p>
    
    <br/>
    <br/>
    
    <div class="chart-skills">
        {# js inserts `<canvas id="chartRadar"></canvas>`  #}
    </div>
</div>
