{% extends 'layout.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }} {# extend layout.html block styles #}
    <link href="{% static 'css/orgchart.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    {# --- GRAPH BUTTONS --- #}
    <a 
        id="arrows-button" 
        class="graph-button hover-help"
        title="Use arrow keys to move or click-n-drag!"
    >
        <i class="fa fa-arrows-alt"></i>
    </a>
    <a 
        id="zoom-button"
        class="graph-button hover-help"
        title="Scroll over the orgchart to zoom!"
    >
        <i class="fa fa-search-plus"></i>
    </a>
    <a 
        id="reframe-button" 
        class="graph-button"
        title="Click here to reframe the orgchart"
    >
        <i class="fa fa-expand"></i>
    </a>
    <a 
        id="reset-button"
        class="graph-button"
        href="javascript:window.location.reload(true)"
        title="Click here to reload the orgchart"
    >
        <i class="fa fa-sync-alt"></i>
    </a>


    <div id="orgchart-body">
        <h3 id="page-header">
            <i class="fa fa-sitemap"></i>&nbsp;Orgchart
        </h3>
        
        <div class="container" style="display: flex;">
            <div id="graph"></div>

            {% comment %}
                The other half of the flexbox `div id="sidebar-main"`
                is defined in a different file
            {% endcomment %}
            
            {% include "orgchart/orgchart-sidebar.html" %}
        </div>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="{% static 'js/skill-chart.js' %}"></script> 
        {# skillChart(); #}
    
    <script src="{% static 'js/orgchart-graph.js' %}"></script> 
        {# calls skillChart(); #}
{% endblock %}
