{% extends 'layout.html' %}

{% block content %}

<b>Create a New Organization:</b>

{% include "organization/form.html" %}
<hr/>
<br/>
<br/>
<a href="{% url 'organization_list' %}">[<] Back</a>

{% endblock %}
