{% extends 'layout.html' %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <h3>Are you sure that you want to delete the organization named {{ organization.name }}?</h3>
  <br/>
  <br/>
  <button type="submit"> Yes, delete it</button>
</form>

<hr/>
<br/>
<br/>
<a href="{% url 'organization_list' %}">[<] Back</a>


{% endblock %}
