{% extends 'layout.html' %}

{% block content %}

<b>Here are the details about {{organization.name}}:</b>
<ul>
  <li>Domain: {{organization.domain}}</li>
  <li>Orgchart: {{organization.graph_path}}</li>
</ul>
<hr/>
<br/>
<br/>
<a href="{% url 'organization_list' %}">[<] Back</a>

{% endblock %}
