{% extends 'layout.html' %}

{% load staticfiles %}
{% block styles %}
  <link href="{% static 'css/layout.css' %}" rel="stylesheet">
  <link href="{% static 'css/orgchart.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Your Orgs{% endblock %}

{% block content %}

<h3>Here are the organizations you belong to:</h3>

<ul>
  {% for org in user_orgs %}
    <li>
      <a href="{% url 'organization_detail' org.id %}">{{ org.name }}</a> --- <a href="{% url 'orgchart' %}">view orgchart</a> --- <a href="{% url 'organization_update' org.id %}">Edit</a>
    </li>
  {% empty %}
    <p><i>Looks like you don't belong to any organizations yet</i></p>
  {% endfor %}
</ul>
<br/>
<br/>
<a href="{% url 'organization_create' %}">[+] Create New Organization</a>


{% endblock %}
