{% extends 'layout.html' %}

{% block content %}

<b>Edit Your Organization:</b>


{% include "organization/form.html" %}
<hr/>

<br/>
<br/>
<a href="{% url 'organization_list' %}">[<] Back</a>
 ------ 
<a href="{% url 'organization_delete' organization.id %}">[ - ] Delete</a>

{% endblock %}
