{% extends 'layout.html' %}
{% load staticfiles %}


{# This page is based on the django-s3-upload library form example of https://github.com/bradleyg/django-s3direct/blob/master/example/templates/form.html  #}
{% block content %}


{% block extrahead %}
    {# if extrahead block is placed outside of content block then `remove` link gets triggered and automatically added to page, which is bad #}
    {{ form.media }}
    <style>
        form label {display: none;}
        #saver {display: none;}
    </style>
{% endblock %}


<p>
    Change {{ employee.name_full }}'s profile pic:
</p>

<hr/>

<p>Current pic:</p>

{% if employee.profile_picture %}
    <img src="{{employee.profile_picture}}" style="width:50px;"/>
{% else %}
    <i>
        Looks like you don't have a profile pic set, not even the default greyed out mystery person... which is supposed to be impossible. I'm not even mad!
    </i>
{% endif %}

<hr/>

<br/>

<p>Upload new pic:</p>

<div id="imaj-target"></div>

{# `pip django-s3-upload` is looking for this form #}
{# id and name because two POST forms on same page #}
<form 
    id="s3form"
    name="s3form"
    action="{% url 'file_create' employee.uid %}" 
    method="post"
>
    {% csrf_token %}
    {{ form }}
</form>

<hr/>

{# jquery reveals this save button once pic uploaded and staged on page #}
{# id and name because two POST forms on same page #}
<form 
    id="saver"
    name="saver"
    action="{% url 'employee_update_profile_pic' employee.uid %}"
    method="post"
>
    {% csrf_token %}
    {# jquery inserts hidden input for image link after s3 upload #}
    <input 
        id="save-pic-submit"
        name="save-pic-submit"
        type="submit"
        value="Save"
    >
</form>
<br/>

{# Refresh is included because storage size errors provide no cancel/ reset #}
<a href="{% url 'employee_update' employee.uid %}">[<] Back</a> --- <a href="javascript:window.location.reload(true)">[%] Refresh</a>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    <script src="{% static 'js/profile-picture.js' %}"></script>
    {# ^ relative link in same folder didn't work #}
{% endblock %}
