{% if office.departments %}
  <hr/>
  <b>Departments (based in this office):</b>
  <table>
    {% for dept in office.departments %}
    <tr>
      <td><a href="{% url 'department_detail' dept.uid %}">{{dept.name_short}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'office_detail' %}
        {% with instruction="remove department" %}
          <td>&nbsp;&nbsp;<a href="{% url 'office_department_remove' office.uid dept.uid instruction %}" onclick="return confirm('Are you sure that you no longer want {{dept.name_short}} to be based in this office?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
