{% extends 'layout.html' %}

{% block content %}

<b>Here are the details about {{office.name_long}}:</b>
<hr>
<!-- <img src="{{office.edifice_picture}}" style="width:50px;"/> -->
<table>
    <tr><td>Name:</td><td>{{ office.name_long }}</td></tr>
    <tr><td>Alias:</td><td>{{ office.name_short }}</td></tr>
</table>

<br/>
{% include "office/employees.html" %}
{% include "office/departments.html" %}
<hr/>
<br/>
<br/>
<a href="{% url 'office_list' %}">[<] Back to Locations</a> --- <a href="{% url 'office_update' office.uid %}">Edit</a>

{% endblock %}
