{% extends 'office/update.html' %}

{% block content %}
<h2>Add a new employee to {{ office.name_short }}</h2>
<br/>
<form action="{% url 'office_employee_add' office.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <br/>
  <br/>
  <button type="submit">Submit</button>
</form>
<br/>


<br/>
{# {% include "office/employees.html" %} #}

<br/>
<br/>
<a href="{% url 'office_update' office.uid %}">[<] Back</a>
{% endblock %}
