{% if office.employees %}
  <hr/>
  
  <b style="font-variant: small-caps;">Office Employees:</b>
  <br/>
  <small style="color: lightgray; display: block; line-height: 0.7;">everyone in the office</small>
  <br/>
  <table>
    
    {% for employee in inhabitants_with_manager_tags %}
    <tr>

      <td>
        {% if employee.is_manager is True %}
          <i class="fa fa-user-tie" title="Office Manager"></i>
        {% endif %}
      </td>
      
      <td>
        <a href="{% url 'employee_detail' employee.uid %}">{{employee.name_full}}</a>
      </td>
      
      <!-- don't show the options to edit when in the detail view -->
      {% if request.resolver_match.url_name != 'office_detail' %}
        {% if employee.is_manager is True %}
          <td>
            {% with instruction="remove as office manager" %}
              <a href="{% url 'office_manager_set' office.uid employee.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{employee.name_full}} from a managerial role of the office?')">
                <i class="fa fa-caret-square-down" title="Remove as manager"></i>
              </a>
            {% endwith %}
          </td>
          <td>
          {% with instruction="remove office manager" %}
            <a href="{% url 'office_employee_remove' office.uid employee.uid instruction %}" onclick="return confirm('Are you sure that you want to remove the manager, {{employee.name_full}}, from the office? Their employee record will still exist at the company.')">
              <i class="fa fa-minus-circle"></i>
            </a>
            {% endwith %}
          </td>
        {% else %}
          <td>
            {% with instruction="promote to office manager" %}
              <a href="{% url 'office_manager_set' office.uid employee.uid instruction %}" onclick="return confirm('Are you sure that you want to promote {{employee.name_full}} to a managerial role of the office?')">
                <i class="fa fa-caret-square-up" title="Promote to office manager"></i>
              </a>
            {% endwith %}
          </td>
          <td>
            {% with instruction="remove office employee" %}
            <a href="{% url 'office_employee_remove' office.uid employee.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{employee.name_full}} from the office? Their employee record will still exist at the company.')">
              <i class="fa fa-minus-circle"></i>
            </a>
            {% endwith %}
          </td>
        {% endif %}
      {% endif %}

    </tr>
    {% endfor %}
  </table>
{% endif %}
