{% extends 'layout.html' %}

<!-- OFFICES -->

{% load staticfiles %}
{% block styles %}
  {{ block.super }} <!-- extend layout.html block styles -->
  <link href="{% static 'css/directory.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Offices{% endblock %}

{% block content %}

<h3 id="page-header">
  <i id="header-icon" class="fa fa-building"></i>&nbsp;Offices
</h3>

<a class="add-button-link" href="{% url 'office_create' %}">
  <div class="add-button">
    <i class="fa fa-plus"></i>&nbsp;&nbsp;New Office
  </div>
</a>

<!-- stats row -->

<div class="row stats-row">
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-city"></i>
          &nbsp;&nbsp; Total Sites
        </h6>
        <!--<small class="card-text"><i><b>{{ total_offices }}</b> sites in the org</i></small>-->
      </div>
    </div>
  </div>
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-vihara"></i>
          &nbsp;&nbsp; Office Size
        </h6>
        <!--<small class="card-text"><i>Median <b>({{ med_office_size }})</b>; Average <b>({{ avg_office_dize }})</b></i></small>-->
      </div>
    </div>
  </div>
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-chart-pie"></i>
          &nbsp;&nbsp; Analytics
        </h6>
        <small class="card-text"><a href="#"><i>&rarr;&nbsp; Go to the stats portal</i></a></small>
      </div>
    </div>
  </div>
</div>

<hr style="width:75%";/>

<div id="department-list">
  <table id="department-list-tbl" class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Handle</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Site Managers</th>
        <th scope="col">Inhabitants</th>
        <th scope="col">Departments</th>
      </tr>
    </thead>
    <tbody>
      {% for office in offices %}
      <tr>
        <td>
          <a href="{% url 'office_detail' office.uid %}">{{ office.name_short }}</a>
        </td>
        <td>
          {{ office.name_long }}
        </td>
        <td>
          <!--{{ office.location }}-->
        </td>
        <td>
          {% for site_mng in office.site_managers  %}
            <a href="{% url 'employee_detail' site_mng.uid %}">{{ site_mng.name_full }}</a>. <br/>
          {% empty %}
            -
          {% endfor %}
        </td>
        <td>
          <!--{{ office.num_employees }}-->
        </td>
        <td>
          <!--{{ office.num_departments }}-->
        </td>
      </tr>
      {% empty %}
        <center><i>Looks like your organization does not have any offices yet </i><i class="fa fa-warehouse"></i></center>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
