{% extends 'layout.html' %}

{% block content %}
<h3>Are you sure that you want to delete the office named {{ office.name_long }}?</h3>

<form action="{% url 'office_merge_delete' office.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <br/>
  <br/>
  <small>
    Note - When you merge entities into the new office, any duplicates will be skipped. Any non-duplicate employees that are flagged as site managers in the old office will have their managerial flag removed when joining the new office.
  </small>
  <br/>
  <br/>
  <button type="submit"> Yes, delete it</button>
</form>

<hr/>
<br/>
<br/>
<a href="{% url 'office_detail' office.uid %}">[<] Back & Cancel</a>
<br/>
<br/>
{% include "office/employees.html" %}



{% endblock %}
