{% extends 'layout.html' %}

{% block content %}

<b>Edit Office Details:</b>
<hr>
<!--<img src="{{employee.profile_picture}}" style="width:50px;"/>
<a href="{% url 'file_create' office.uid %}">[+] Change profile picture</a>-->

{% include "office/form.html" %}

<br/>
{% include "office/employees.html" %}
{% include "office/departments.html" %}
<hr/>


<br/>
<br/>
<a href="{% url 'office_employee_add' office.uid %}">[+] Add Employee to Office</a>
<br/>
<a href="{% url 'office_department_add' office.uid %}">[+] Add Department to Office</a>
<br/>
<a href="{% url 'office_detail' office.uid %}">[<] Back</a>
 --- 
<a href="{% url 'office_merge_delete' office.uid %}">[ - ] Delete</a>

{% endblock %}
