{% if employee.bosses %}
  <hr/>
  <b>Bosses (directly reports to):</b>
  <table>
    {% for boss in employee.bosses %}
    <tr>
      <td><a href="{% url 'employee_detail' boss.uid %}">{{boss.name_full}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'employee_detail' %}
        {% with instruction="remove boss" %}
          <td>&nbsp;&nbsp;<a href="{% url 'employee_boss_remove' employee.uid boss.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{boss.name_full}} as your boss?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
