{% extends 'employee/update.html' %}

{% block content %}
<h2>Give {{ employee.name_full }} a new boss</h2>
<br/>
<form action="{% url 'employee_boss_add' employee.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <button type="submit">Submit</button>
</form>
<br/>
<br/>

{% include "employee/bosses.html" %}


<br/>
<br/>
<a href="{% url 'employee_update' employee.uid %}">[<] Back</a>
{% endblock %}
