{% extends 'layout.html' %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <h3>Are you sure that you want to delete {{ employee.name_full }}?</h3>
  <br/>
  <br/>
  <button type="submit"> Yes, delete them</button>
</form>

<hr/>
<br/>
<br/>
<a href="{% url 'employee_list' %}">[<] Back</a>


{% endblock %}
