{% if employee.departments %}
  <hr/>
  <b>Departments (that they belong to):</b>
  <table>
    {% for dept in employee.departments %}
    <tr>
      <td><a href="{% url 'department_detail' dept.uid %}">{{dept.name_short}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'employee_detail' %}
        {% with instruction="remove membership" %}
          <td>&nbsp;&nbsp;<a href="{% url 'department_employee_remove' dept.uid employee.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{employee.name_full}} from department {{dept.name_short}}?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
