{% extends 'employee/update.html' %}

{% block content %}
<h2>Add {{employee.name_full}} to a new department</h2>
<br/>
<form action="{% url 'employee_department_add' employee.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <button type="submit">Submit</button>
</form>
<br/>


<br/>
{% include "employee/departments.html" %}

<br/>
<br/>
<a href="{% url 'employee_update' employee.uid %}">[<] Back</a>
{% endblock %}
