{% extends 'layout.html' %}

{% block content %}

<b>Here are the details about {{employee.name_full}}:</b>
<hr>
<img src="{{employee.profile_picture}}" style="width:50px;"/>
<table>
    <tr><td>Full Name:</td><td>{{ employee.name_full }}</td></tr>
    <tr><td>Preferred Name:</td><td>{{ employee.name_prefer }}</td></tr>
    <tr><td>Work Email:</td><td>{{ employee.email_work }}</td></tr>
    <tr><td>Job Title:</td><td>{{ employee.job_title }}</td></tr>
    <tr><td>Job Description:</td><td>{{ employee.job_description }}</td></tr>
    <tr><td>Date Hired:</td><td>{{ employee.date_hired|date:"Y-m-d" }}</td></tr>
    <tr><td>Slack Username:</td><td>{{ employee.username_slack }}</td></tr>
</table>

<br/>
{% include "employee/bosses.html" %}
{% include "employee/departments.html" %}
{% include "employee/direct-reports.html" %}

<hr/>
<br/>
<br/>
<a href="{% url 'employee_list' %}">[<] Back to Directory</a> --- <a href="{% url 'employee_update' employee.uid %}">Edit</a>

{% endblock %}
