{% extends 'employee/update.html' %}

{% block content %}
<h2>Add a member to {{ employee.name_full }}'s team</h2>
<br/>
<form action="{% url 'employee_direct_report_add' employee.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <button type="submit">Submit</button>
</form>
<br/>
<br/>

{% include "employee/direct-reports.html" %}


<br/>
<br/>
<a href="{% url 'employee_update' employee.uid %}">[<] Back</a>
{% endblock %}
