{% if employee.direct_reports %}
  <hr/>
  <b>Team (people that report directly to them):</b>
  <table>
    {% for dr in employee.direct_reports %}
    <tr>
      <td><a href="{% url 'employee_detail' dr.uid %}">{{dr.name_full}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'employee_detail' %}
        <!-- give the remover function context so that it knows what messages to render -->
        {% with instruction="remove direct report" %}
          <td>&nbsp;&nbsp;<a href="{% url 'employee_boss_remove' dr.uid employee.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{dr.name_full}} from your team?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
