{% extends 'layout.html' %}

<!-- THIS IS THE EMPLOYEE DIRECTORY PAGE -->

{% load staticfiles %}
{% block styles %}
  {{ block.super }} <!-- extend layout.html block styles -->
  <link href="{% static 'css/directory.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Employees{% endblock %}

{% block content %}
<a name="top"></a>

<h3 id="page-header">
  <i id="header-icon" class="fa fa-users"></i>&nbsp;Employees
</h3>

<a class="add-button-link" href="{% url 'employee_create' %}">
  <div class="add-button">
    <i class="fa fa-plus"></i>&nbsp;&nbsp;New Employee
  </div>
</a>

<!-- stats row -->

<div class="row stats-row">
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-chart-line"></i>
          &nbsp;&nbsp; Total Employees
        </h6>
        <small class="card-text"><i><b>{{ total_employees }}</b> people in the org</i></small>
      </div>
    </div>
  </div>
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-camera"></i>
          &nbsp;&nbsp; Face to a Name
        </h6>
        <small class="card-text"><i><b>_%</b> added a photo</i></small>
      </div>
    </div>
  </div>
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-chart-pie"></i>
          &nbsp;&nbsp; Analytics
        </h6>
        <small class="card-text"><a href="#"><i>&rarr;&nbsp; Go to the stats portal</i></a></small>
      </div>
    </div>
  </div>
</div>

<center>
  <div id="letter-links">
    {% for letter, employees in employees_by_letter.items %}
      <a href="#{{ letter|escape }}">{{ letter }}</a>&nbsp;&nbsp;
    {% endfor %}
  </div>
</center>

<div id="employee-list">
  <!-- the view provides a dict where the KEYS are each letter of the alphabet 
    and the VALUES are the employees whose name_last starts with that letter -->
  {% for letter, employees in employees_by_letter.items %}
    <!-- this creates a horizontal "divider" for each letter-->
    <div class="employee-row">
      <div id="{{ letter|escape }}" class="divider">
        <div class="divider-letter">
          <h2>{{ letter }}</h2>
        </div>
        <div class="divider-line"></div>
        {% if forloop.counter != 1 %}
          <a class="top-link" href="#top">^</a>
        {% endif %}
      </div>

      <!-- then this creates a record for each employee as a "tile" -->
      <div class="row employee-row-content">
        {% for employee in employees %}
          <div class="tile col-sm-5">
            <img src="https://d3vlh9j4b368l5.cloudfront.net/production/people/2747/5dad99f2c969ea768a96f2d4e48a9d244260142d-square.jpg?1522435844" />

            <div class="tile-name">
              <a href="{% url 'employee_detail' employee.uid %}">{{ employee.name_full }}</a>
              <!-- the tile info aka description is hidden until the tile is hovered over -->
              <div class="tile-info"> 
                <i>{{ employee.email_work }}</i><br/>
                {{ employee.title }}
              </div>
            </div>  
          </div>
        {% empty %}
          <!-- intentionally blank -->
        {% endfor %}
      </div>
    </div>
  {% empty %}
    <p><i>Looks like there are no employees in your organization.</i></p>
  {% endfor %}
</div>

{% endblock %}
