{% extends 'employee/update.html' %}

{% block content %}
<h2>Add {{employee.name_full}} to a new office</h2>
<br/>
<form action="{% url 'employee_office_add' employee.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <button type="submit">Submit</button>
</form>
<br/>


<br/>
{# {% include "employee/offices.html" %} #}

<br/>
<br/>
<a href="{% url 'employee_update' employee.uid %}">[<] Back</a>
{% endblock %}
