{% extends 'layout.html' %}

{% block content %}

<b>Edit Employee Details:</b>
<hr>
<img src="{{employee.profile_picture}}" style="width:50px;"/>
<a href="{% url 'file_create' employee.uid %}">[+] Change profile picture</a>

{% include "employee/form.html" %}

<br/>
{% include "employee/bosses.html" %}
{% include "employee/direct-reports.html" %}
{% include "employee/departments.html" %}
<hr/>


<br/>
<br/>
<a href="{% url 'employee_boss_add' employee.uid %}">[+] Add Boss</a>
<br/>
<a href="{% url 'employee_direct_report_add' employee.uid %}">[+] Add Direct Report</a>
<br/>
<a href="{% url 'employee_department_add' employee.uid %}">[+] Join New Department</a>
<br/>
<a href="{% url 'employee_office_add' employee.uid %}">[+] Join New Office</a>
<br/>
<a href="{% url 'employee_detail' employee.uid %}">[<] Back</a>
 --- 
<a href="{% url 'employee_delete' employee.uid %}">[ - ] Delete</a>

{% endblock %}
