{% extends 'department/update.html' %}

{% block content %}
<h2>Give {{ department.name_short }} a new branch department</h2>
<br/>
<form action="{% url 'department_branch_add' department.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <br/>
  <br/>
  <button type="submit">Submit</button>
</form>
<br/>
<br/>

{% include "department/branches.html" %}


<br/>
<br/>
<a href="{% url 'department_update' department.uid %}">[<] Back</a>
{% endblock %}
