{% if department.branches %}
  <hr/>
  <b>Branch Departments (that roll up to this department):</b>
  <table>
    {% for branch in department.branches %}
    <tr>
      <td><a href="{% url 'department_detail' branch.uid %}">{{branch.name_short}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'department_detail' %}
        {% with instruction="remove branch" %}
          <td>&nbsp;&nbsp;<a href="{% url 'department_parent_remove' branch.uid department.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{branch.name_short}} as a branch of this department?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
