{% extends 'layout.html' %}

{% block content %}

<b>Create a New Department:</b>

{% include "department/form.html" %}
<hr/>
<br/>
<br/>
<a href="{% url 'department_list' %}">[<] Back</a>

{% endblock %}
