{% extends 'layout.html' %}

{% block content %}

<h3 id="page-header">
  <i id="header-icon" class="fa fa-users"></i>Department:
</h3>

<br/>
<br/>

<b>{{department.name_long}}</b>
<br/>
<i>{{department.name_short}}</i>

<br/>
<br/>

<b>Location:</b> 
<br/>
<i>{{department.location}}</i>

<br/>
<br/>


<b>Mission Statement:</b> 
<br/>
<i>{{department.mission_statement}}</i>

<br/>
<br/>
<br/>

{% include "department/members.html" %}
{% include "department/parents.html" %}
{% include "department/branches.html" %}
{% include "department/offices.html" %}


<br/>
<br/>
<a href="{% url 'department_list' %}">[<] Back</a> --- <a href="{% url 'department_update' department.uid %}">Edit</a>

{% endblock %}
