{% extends 'layout.html' %}

<!-- THIS IS THE DEPARTMENTS PAGE -->

{% load staticfiles %}
{% block styles %}
  {{ block.super }} <!-- extend layout.html block styles -->
  <link href="{% static 'css/directory.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Departments{% endblock %}

{% block content %}

<h3 id="page-header">
  <i id="header-icon" class="fas fa-layer-group"></i>&nbsp;Departments
</h3>

<a class="add-button-link" href="{% url 'department_create' %}">
  <div class="add-button">
    <i class="fa fa-plus"></i>&nbsp;&nbsp;New Department
  </div>
</a>

<!-- stats row -->

<div class="row stats-row">
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-chart-line"></i>
          &nbsp;&nbsp; Total Departments
        </h6>
        <small class="card-text"><i><b>{{ total_departments }}</b> teams in the org</i></small>
      </div>
    </div>
  </div>
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-cookie-bite"></i>
          &nbsp;&nbsp; Team Size
        </h6>
        <small class="card-text"><i>Median <b>({{ med_dept_size }})</b>; Average <b>({{ avg_dept_dize }})</b></i></small>
      </div>
    </div>
  </div>
  <div class="col-md-4 stats-tile">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa fa-chart-pie"></i>
          &nbsp;&nbsp; Analytics
        </h6>
        <small class="card-text"><a href="#"><i>&rarr;&nbsp; Go to the stats portal</i></a></small>
      </div>
    </div>
  </div>
</div>

<hr style="width:75%";/>

<div id="department-list">
  <table id="department-list-tbl" class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Handle</th>
        <th scope="col">Name</th>
        <th scope="col">Offices</th>
        <th scope="col">Managers</th>
        <th scope="col">Members</th>
        <th scope="col">Branches</th>
      </tr>
    </thead>
    <tbody>
      {% for dept in departments %}
      <tr>
        <td>
          <a href="{% url 'department_detail' dept.uid %}">{{ dept.name_short }}</a>
        </td>
        <td>
          {{ dept.name_long }}
        </td>
        <td>
          {{ dept.location }}
        </td>
        <td>
          {% for seer in dept.overseers  %}
            <a href="{% url 'employee_detail' seer.uid %}">{{ seer.name_full }}</a>. <br/>
          {% empty %}
            -
          {% endfor %}
        </td>
        <td>
          {{ dept.num_members }}
        </td>
        <td>
          {{ dept.num_branches }}
        </td>
      </tr>
      {% empty %}
        <p><i>Looks like your organization does not have any departments yet</i></p>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
