{% if department.members %}
  <hr/>
  
  <b style="font-variant: small-caps;">Department Members:</b>
  <br/>
  <small style="color: lightgray; display: block; line-height: 0.7;">everyone in the department</small>
  <br/>
  <table>
    
    {% for member in members_with_manager_tags %}
    <tr>

      <td>
        {% if member.is_manager is True %}
          <i class="fa fa-user-tie" title="Department Manager"></i>
        {% endif %}
      </td>
      
      <td>
        <a href="{% url 'employee_detail' member.uid %}">{{member.name_full}}</a>
      </td>
      
      <!-- don't show the options to edit when in the detail view -->
      {% if request.resolver_match.url_name != 'department_detail' %}
        {% if member.is_manager is True %}
          <td>
            {% with instruction="remove as manager" %}
              <a href="{% url 'department_manager_set' department.uid member.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{member.name_full}} from a managerial role of the team?')">
                <i class="fa fa-caret-square-down" title="Remove as manager"></i>
              </a>
            {% endwith %}
          </td>
          <td>
          {% with instruction="remove department manager" %}
            <a href="{% url 'department_employee_remove' department.uid member.uid instruction %}" onclick="return confirm('Are you sure that you want to remove the manager, {{member.name_full}}, from the team? Their employee record will still exist at the company.')">
              <i class="fa fa-minus-circle"></i>
            </a>
            {% endwith %}
          </td>
        {% else %}
          <td>
            {% with instruction="promote to manager" %}
              <a href="{% url 'department_manager_set' department.uid member.uid instruction %}" onclick="return confirm('Are you sure that you want to promote {{member.name_full}} to a managerial role of the team?')">
                <i class="fa fa-caret-square-up" title="Promote to manager"></i>
              </a>
            {% endwith %}
          </td>
          <td>
            {% with instruction="remove associate" %}
            <a href="{% url 'department_employee_remove' department.uid member.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{member.name_full}} from the team? Their employee record will still exist at the company.')">
              <i class="fa fa-minus-circle"></i>
            </a>
            {% endwith %}
          </td>
        {% endif %}
      {% endif %}

    </tr>
    {% endfor %}
  </table>
{% endif %}
