{% extends 'layout.html' %}

{% block content %}
<h3>Are you sure that you want to delete the department named {{ department.name_short }}?</h3>

<form action="{% url 'department_merge_delete' department.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <br/>
  <br/>
  <small>
    Note - When you merge members into the new department, any duplicates will be skipped. Any non-duplicate members that are flagged as managers in the old department will have their managerial flag removed when joining the new department.
  </small>
  <br/>
  <br/>
  <button type="submit"> Yes, delete it</button>
</form>

<hr/>
<br/>
<br/>
<a href="{% url 'department_detail' department.uid %}">[<] Back & Cancel</a>
<br/>
<br/>
{% include "department/members.html" %}



{% endblock %}
