{% extends 'department/update.html' %}

{% block content %}
<h2>Add {{ department.name_short }} to a new office</h2>
<br/>
<form action="{% url 'department_office_add' department.uid %}" method="POST">{% csrf_token %}
  {{form.as_p}}
  <br/>
  <br/>
  <button type="submit">Submit</button>
</form>
<br/>


<br/>
{% include "department/offices.html" %}

<br/>
<br/>
<a href="{% url 'department_update' department.uid %}">[<] Back</a>
{% endblock %}
