{% if department.offices %}
  <hr/>
  <b>Offices (this department is based in):</b>
  <table>
    {% for office in department.offices %}
    <tr>
      <td><a href="{% url 'office_detail' office.uid %}">{{office.name_short}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'department_detail' %}
        {% with instruction="remove office" %}
          <td>&nbsp;&nbsp;<a href="{% url 'office_department_remove' office.uid department.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{office.name_short}} as where this department is based?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
