{% if department.parent_departments %}
  <hr/>
  <b>Parent Departments (this deparment rolls up to):</b>
  <table>
    {% for parent in department.parent_departments %}
    <tr>
      <td><a href="{% url 'department_detail' parent.uid %}">{{parent.name_short}}</a></td>
      <!-- don't show the remove button in the detail view -->
      {% if request.resolver_match.url_name != 'department_detail' %}
        {% with instruction="remove parent" %}
          <td>&nbsp;&nbsp;<a href="{% url 'department_parent_remove' department.uid parent.uid instruction %}" onclick="return confirm('Are you sure that you want to remove {{parent.name_short}} as parent of this department?')"><i class="fa fa-minus-circle"></i></a></td>
        {% endwith %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
