{% extends 'layout.html' %}

{% block content %}

<h3>Edit the Department Named {{ department.name_short }}:</h3>


{% include "department/form.html" %}

<br/>
<br/>

{% include "department/parents.html" %}
{% include "department/branches.html" %}
{% include "department/members.html" %}
{% include "department/offices.html" %}


<br/>
<br/>
<a href="{% url 'department_employee_add' department.uid %}">[+] Add Team Member</a>
<br/>
<a href="{% url 'department_parent_add' department.uid %}">[+] Add Parent Department</a>
<br/>
<a href="{% url 'department_branch_add' department.uid %}">[+] Add Branch Department</a>
<br/>
<a href="{% url 'department_office_add' department.uid %}">[+] Add Office</a>
<br/>
<a href="{% url 'department_detail' department.uid %}">[<] Back</a>
 ------ 
<a href="{% url 'department_merge_delete' department.uid %}">[ - ] Delete</a>

{% endblock %}
